$color-base:#2f394d;
$color-background:#ebecf1;
$color-white:#ffffff;
$color-border:#e3e3e3;
$color-blue:#009cfa;

/* custom */
$color-ant-tabs:#ffffff;

$img-logo:"../img/logo.png";


// ------ Ant Base & Require ------
$primary-color          : #2db7f5;
$dark-primary-color     : #202633;
$info-color             : #2db7f5;
$success-color          : #87d068;
$error-color            : #f50;
$warning-color          : #fa0;

$body-background        : #fff;

$font-family            : "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$code-family            : Consolas,Menlo,Courier,monospace;
$text-color             : #666;
$font-size-base         : 20px;
$line-height-base       : 1.5;
$line-height-computed   : floor(($font-size-base * $line-height-base));
$border-radius-base     : 6px;
$border-radius-sm       : 4px;