.survey{
    @extend .flex;
    @include wrap-layout(wrap);
}

.survey .ant-card{
    margin-right: 10px;
    margin-bottom: 10px;
}

.survey .ant-card-head{
    border-left: 2px solid $primary-color;
}

.survey .ant-card-head-title{
    font-size: 16px;
}