{
  "presets": ["es2015", "react", 'stage-0'],
  "plugins": [
    ["antd", [{ "libraryName": "antd", "style": true }]]
  ],
  //在开发的时候才启用HMR和Catch Error	
  "env": {
   "development": {
     "presets": ["react-hmre"]
   }
  }
}