<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="asset-manifest.json">  
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
      localStorage.hospital = 'dfj' //ddj, nlj
      localStorage.hid = 'h001' //ddj, nlj
    </script>
  </head>
  <body>
    <div class="app"></div>
  </body>
  <script src="//at.alicdn.com/t/font_m4cvmtta61pgmn29.js"></script>
</html>