<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="asset-manifest.json">  
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="app"></div>
  </body>
  <!-- <script src="//cdn.bootcss.com/echarts/3.3.2/echarts.min.js"></script>
  <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
  <script src="//cdn.bootcss.com/moment-timezone/0.5.11/moment-timezone.min.js"></script> -->
</html>